*, *:before, *:after {
	box-sizing: border-box;
}
body {
    margin: 0 auto;
}
@font-face {
	font-family: "ProductSans";
	src: url("fonts/ProductSans-Bold.woff") format("woff");
}
@mixin forcontentstyle{
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 100px;
	align-items: center;
	justify-content: space-around;
}
/*************************************/
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-content: center;
	align-items: center;
}
.maincontent{
	margin-top: 50px;
	width: 90%;
}
.content {
	@include forcontentstyle();
	border: 1px solid #cecece;
	font-family: 'ProductSans', Bold;
	font-weight: 700;
}
.one{
	margin-top: 50px;
}
.two, .three {
	@include forcontentstyle();
	border: 1px solid #669900;
	font-family: 'ProductSans', Bold;
	font-weight: 100;
	margin-top: 50px;
}
.two .resultLog {
	width: 90%;
	margin: 0 auto;
	border: 1px solid #669900;
	display: grid;
	padding: 5px;
	grid-gap: 5px;
  }
.resultLog div{
	border: 1px solid #ffffff;
}
.color{
	background-color: #669900;
}

.field {
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 50px;
	align-items: center;
	& div {
		height: 100px;
		width: 100px;
		border: 1px solid #cecece;
		cursor: pointer;
	}
}
.free {
	background: url('../img/steering-wheel-ok.svg') no-repeat;
}
.noFree {
	background: url('../img/steering-wheel-notok.svg') no-repeat;
}
.letter {
	position: relative;
 	left: 40%;
	top: -4px;
}
